@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica_rg-webfont.woff2') format('woff2'),
         url('coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*html{
    scroll-behavior: smooth;
} */

body{
    height: 100vh;
    margin:0 auto;
    font-family: 'coolvetica', 'Verdana', 'Arial';
    background-color: #d1d1d1;
    
}

ul{
    list-style-type: none;
    text-decoration: none;
    color: #44565b;
    font-size: 24px;

/* nav bar spalva nepasikeicia,atkreipiti dms,istrinti papildomas color komandas */
    
    
    margin: 0;
    padding: 0;
}
.nav-scrolled{
    color:#d1d1d1;
}
.menu{
    color: #44565b;
}

nav{
    position: fixed;
    width: 100%;
     top: 2.5em;
     left: 55%;
}

nav ul li {
    display: inline-block;
    height: 100%;
    padding: 13px;
    
}
.menu li a:hover{
    color: #89a3a0;
}


.active{
    color: #89a3a0;
}
.section2.active{
    color: #d1d1d1;
}



/* active link greiciausiai su js,yra youtube issaugota  su jquery*/
/*font size random, logo irgi random, reikes pastumdyti dydzius.spalv nepasikeite*/
li a{
    color: #44565b;


}
a{
    text-decoration: none;
}

img{
    width: 100%;
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 3em 9em;
}


 .logo-left{
     width:  45px;
 
    }

    .name-color{
        color: #89a3a0;
    }
  
  h1{
      color: #5c7878;
      font-size: 110px;
      line-height: 0.9;
      padding: 0 0 0 0.7em;
  }

  .wannabe{
      color:#44565b;
      font-size: 30px;
      position: relative;
      bottom: 2.2em;
      padding: 0 0 0 2.6em;
    
     
  }
  
  .profile-pic{
      display: inline-flex;
      float: right;
      width: 470px;
      position: absolute;
      right: 8em;
      bottom: 0;

      /*kai pasikeite postion absolute, gal nereikia display inline flex? paziuret,ar ne per daug kodo */
     

  }
  .hero{
      display: inline-flex;
     
  }
.content{
    padding: 0em 4em;
    /*suziuret kitus,virsuj esancius paddingus*/

}
/*.wannabe p::before, .content h1::before, .name-color::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.5s;
}

.wannabe p:hover::before, .content h1:hover::before, .name-color:hover::before{
height: 100%;
}

Sita dalis is online mentor web tutorial. bet maciau html faile animation js prisegta,gal del to neveikia.
*/ 

#scrolldown {
    padding-top: 60px;
  }
  #scrolldown span {
    position: absolute;
    top: 73%;
    left: 21%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #44565b;
    border-bottom: 2px solid #44565b;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }

  #scrolldown  span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scrolldown  span:nth-of-type(2) {
    top: 75%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scrolldown  span:nth-of-type(3) {
    top: 75%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  /* kol kas 3 span nematoma, jei palieku 2, istrint 3span */

  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }




.home-container{
    background-image: url(home.jpg);
    background-color: #d1d1d1;
    max-height: 100vh;
    height: 100% 

}

.about{
    background-image: url(mystory.jpg);
    background-color: #9aa6a6;
    max-height: 100vh;
    height: 100%
}

.subtitle{
    font-size: 65px;
    color: #5c7878;
    padding: 0.5em 2em;

}

.about-text{
    display: inline-flex;
    position: relative;
    text-align: justify;
    padding: 1em;
    margin: 0.2em 17em;
    columns: 2;
    background-color: rgba(255,255,255,25%);
    width: 50%;
    height: 50%;
    box-shadow: #44565b;
    color: #44565b;
    font-size: 20px;
}

.description1{
    padding: 1.5em 2em;
}

.description2{
    padding: 1.5em 2em;
}


.skills{
    background-image: url(skills.jpg);
    background-color: #d1d1d1;
    max-height: 100vh;
    height: 100%
}
.skills-left-container{
    display: block;
    width: 250px;
    margin:  auto;
    padding: 0.5em 0em 4em 15em;
    font-size: 22px;
    float: left;
    text-align: center;
    color: #44565b;
    

}

.skills-list li span {
    margin: 2em;
    padding: 3em; 
}

.bar{
    background: rgb(92,120,120,40%);
    display: block;
    margin: 0.6em;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 0 6px #89a3a0;
    
}

.bar span{
    height: 10px;
    float: left;
    background: #576b6b;
}

.html{
    width: 50%;
    -webkit-animation: html 2s;
    animation:html 2s;
}

.css{
    width: 45%;
    animation:css 2s;

}

.javascript{
    width: 35%;
    animation:javascript 2s;

}

.jquery{
    width: 35%;
    animation:jquery 2s;

}

.adobexd{
    width: 55%;
    animation:adobexd 2s;

}

.photoshop{
    width: 80%;
    animation:photoshop 2s;

}

.illustrator{
    width: 50%;
    animation:illustrator 2s;

}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{width: 50%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{width: 45%;
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{width: 35%;
    }
}

@keyframes jquery{
    0%{
        width: 0%;
    }
    100%{width: 35%;
    }
}

@keyframes adobexd{
    0%{
        width: 0%;
    }
    100%{width: 55%;
    }
}

@keyframes photoshop{
    0%{
        width: 0%;
    }
    100%{width: 80%;
    }
}

@keyframes illustrator{
    0%{
        width: 0%;
    }
    100%{width: 50%;
    }
}


.skills-right-container{
    display: block;
    width: 500px;
    margin:  auto;
    padding: 0em 15em 4em 0em;
    font-size: 22px;
    float: right;
    text-align: center;
    color: #44565b;
    

}
.courses a{
    display: block;
    padding: 0.5em;
    margin: 0.7em;
    color: #576b6b;
    background-color: rgba(209,209,209, 50%);
    border: 1px #44565b;
    border-radius: 8px;
    box-shadow: 0 0 4px #44565b;
}

.courses a:hover{
    background-color: #44565b;
    color: #d1d1d1;
}

.cv{
    padding: 0.5em;
    width: 470px;
    display: block;
    position: relative;
    font-size: 25px;

}
.cv a{
    display: block;
    color: #576b6b;
    background-color: rgba(209,209,209, 50%);
    border: 1px #44565b;
    border-radius: 8px;
    box-shadow: 0 0 4px #44565b;
    padding: 0.5em;
}

.cv a:hover{
    background-color: #44565b;
    color: #d1d1d1;
    /*neveikia */
}
.portfolio{
    background-image: url(portfolio.jpg);
    background-color: #44565b;
    max-height: 100vh;
    height: 100%
}

.subtitle2{
    font-size: 65px;
    color: #d1d1d1;
    padding: 0.5em 2em;
    
}

.description3{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 3.5em;

    color: #d1d1d1;
    font-size: 22px;

}

.contact{
    background-image: url(contact.jpg);
    background-color: #576b6b;
    max-height: 100vh;
    height: 100%
}
.contact-container{
   
    position: absolute;
    padding: 1em;
    margin: 0.2em 20em;
    columns: 2;
    color: #d1d1d1;
    font-size: 18px;

}

.contact-left{
    display:block;
    position: absolute;
    text-align: justify;
    padding: 1em 10em 0em 0em;
    margin: 1em 5em 1em 1em;
    left:1.8em;
    top:1.2em;
    float: left;
}

.left-phone p{
    left:1em;
    top:3em;
    float: left; 
}
.left-email p{
    left:1em;
    top:3em;
    float: left;

}
.contact-right{
    display: block;
    position: absolute;
    width: 200px;
    left: 21em;
    top: 4em;
    float: right;
}

.input-field{
    width: 270px;
    height: 30px;
    margin-top: 1.5em;
    padding-top:0.6em;
    border: 1px solid #89a3a0;
    border-radius: 8px;
    outline: none;
    background: transparent;
    padding-top: 0.3em;
    box-shadow: 0px 0px 4px #304b4b; 


}

.textarea-field{
    height: 100px;
}
.form-group input, .form-group textarea {
    color: #d1d1d1;
    opacity: 90%;
    padding-left: 0.8em;
}
::placeholder{
    color: #d1d1d1;
}
.btn{
    border: 1px solid #89a3a0;
    width: 100px;
    height: 30px;
    margin-top: 1.5em;
    color: #d1d1d1;
    border-radius: 8px;
    background: transparent;
    box-shadow: 0px 0px 5px #304b4b; 

}
.btn:hover{
    background-color: #5c7878;
}

.postcard{
    position: absolute;
   /* background-image: url(kk.png); */
    width: 745px ;
    height: 420px;
    margin: 0.1em;
   /* padding: 10em 0em 0em 0em; */
   top: 0.001em;
    box-shadow: 0px 0px 7px #304b4b; 
} 

/*
.postcard{
    display: grid;
    position: relative;
    background-color: #5c7878;
    border: 6px solid #89a3a0;
    opacity: 70%;
    border-radius:10px;
    width: 745px;
    height: 400px;
    margin: 0 auto;
    bottom: 1em;
    box-shadow: 0px 0px 10px #5c7878;  
}
*/

