@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica_rg-webfont.woff2') format('woff2'),
         url('coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    height: 100vh;
    margin:0 auto;
    font-family: 'coolvetica', 'Verdana', 'Arial';
    background-color: #d1d1d1;
    
}

ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    color: #44565b;
/* nav bar spalva nepasikeicia,atkreipiti dms,istrinti papildomas color komandas */
    
    
    margin: 0;
    padding: 0;
}
.menu{
    color: #44565b;
    font-size: 24px;
   
    
}
nav li {
    display: inline-block;
    height: 100%;
    padding: 13px;
}
   
/*font size random, logo irgi random, reikes pastumdyti dydzius.spalv nepasikeite*/
li a{
    color: #44565b;

}
a{
    text-decoration: none;
}

img{
    width: 100%;
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 3em 9em;
}

 .logo-left{
     width:  45px;
 
    }

    .name-color{
        color: #89a3a0;
    }
  
  h1{
      color: #5c7878;
      font-size: 110px;
      line-height: 0.9;
      padding: 0 0 0 0.7em;
  }

  .wannabe{
      color:#44565b;
      font-size: 30px;
      position: relative;
      bottom: 2.2em;
      padding: 0 0 0 2.6em;
    
     
  }
  
  .profile-pic{
      display: inline-flex;
      float: right;
      width: 470px;
      position: absolute;
      right: 8em;
      bottom: 0;

      /*kai pasikeite postion absolute, gal nereikia display inline flex? paziuret,ar ne per daug kodo */
     

  }
  .hero{
      display: inline-flex;
     
  }
.content{
    padding: 0em 4em;
    /*suziuret kitus,virsuj esancius paddingus*/

}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #44565b;
    border-right: 1px solid #44565b;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.box span:nth-child(2){
    animation-delay: -0.2s;
}

.box span:nth-child(3){
    animation-delay: -0.4s;
}




@keyframes animate{
    0%
    {
        opacity: 0;
        transform:rotate(45deg) translate(-20px,-20px);

    }
    50%{
        opacity: 0;
    }
    100%
    {
        opacity: 0;
        transform:rotate(45deg) translate(20px,20px);

    }
}
.home-container{
    background-image: url(home.jpg);
    background-color: #d1d1d1;
    max-height: 768px;
    height: 100%
}

.about{
    background-image: url(mystory.jpg);
    background-color: #9aa6a6;
    max-height: 768px;
    height: 100%
}

.skills{
    background-image: url(skills.jpg);
    background-color: #d1d1d1;
    max-height: 768px;
    height: 100%
}

.portfolio{
    background-image: url(portfolio.jpg);
    background-color: #44565b;
    max-height: 768px;
    height: 100%
}

.contact{
    background-image: url(contact.jpg);
    background-color: #576b6b;
    max-height: 768px;
    height: 100%
}
