@font-face {
    font-family: 'coolveticaregular';
    src: url('coolvetica_rg-webfont.woff2') format('woff2'),
         url('coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    height: 100vh;
    margin:0 auto;
    font-family: 'coolvetica', 'Verdana', 'Arial';
    background-color: #d1d1d1;
    
}

ul{
    list-style-type: none;
    text-decoration: none;
    color: #44565b;
/* nav bar spalva nepasikeicia,atkreipiti dms,istrinti papildomas color komandas */
    
    
    margin: 0;
    padding: 0;
}
.menu{
    color: #44565b;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
     top: 2.5em;
     left: 55%;
}

nav ul li {
    display: inline-block;
    height: 100%;
    padding: 13px;
    
}
   
/*font size random, logo irgi random, reikes pastumdyti dydzius.spalv nepasikeite*/
li a{
    color: #44565b;


}
a{
    text-decoration: none;
}

img{
    width: 100%;
} 

header{
    display: flex;
    justify-content: space-between;
    padding: 3em 9em;
}


 .logo-left{
     width:  45px;
 
    }

    .name-color{
        color: #89a3a0;
    }
  
  h1{
      color: #5c7878;
      font-size: 110px;
      line-height: 0.9;
      padding: 0 0 0 0.7em;
  }

  .wannabe{
      color:#44565b;
      font-size: 30px;
      position: relative;
      bottom: 2.2em;
      padding: 0 0 0 2.6em;
    
     
  }
  
  .profile-pic{
      display: inline-flex;
      float: right;
      width: 470px;
      position: absolute;
      right: 8em;
      bottom: 0;

      /*kai pasikeite postion absolute, gal nereikia display inline flex? paziuret,ar ne per daug kodo */
     

  }
  .hero{
      display: inline-flex;
     
  }
.content{
    padding: 0em 4em;
    /*suziuret kitus,virsuj esancius paddingus*/

}

#scrolldown {
    padding-top: 60px;
  }
  #scrolldown span {
    position: absolute;
    top: 73%;
    left: 21%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #44565b;
    border-bottom: 2px solid #44565b;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }




.home-container{
    background-image: url(home.jpg);
    background-color: #d1d1d1;
    max-height: 768px;
    height: 100% 

}

.about{
    background-image: url(mystory.jpg);
    background-color: #9aa6a6;
    max-height: 768px;
    height: 100%
}

.subtitle{
    font-size: 65px;
    color: #5c7878;
    padding: 0.5em 2em;

}

.about-text{
    display: inline-flex;
    position: relative;
    text-align: justify;
    padding: 1em;
    margin: 0.2em 17em;
    columns: 2;
    background-color: rgba(255,255,255,25%);
    width: 50%;
    height: 50%;
    box-shadow: #44565b;
    color: #44565b;
    font-size: 20px;
}

.description1{
    padding: 1.5em 2em;
}

.description2{
    padding: 1.5em 2em;
}


.skills{
    background-image: url(skills.jpg);
    background-color: #d1d1d1;
    max-height: 768px;
    height: 100%
}
.skills-left-container{
    display: block;
    width: 400px;
    margin:  auto;
    padding: 2em;
    font-size: 22px;
    float: left;

    color: #44565b;
    

}

.skills-list li {
    margin: 2em;
    padding: 2em;
}

.bar{
    background: #5c7878;
    display: block;
    height: 1px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 0 10px #44565b;
}

.bar span{
    height: 6px;
    float: left;
    background: #5c7878;
}

.html{
    width: 60%;
}

.css{
    width: 45%;
}
.portfolio{
    background-image: url(portfolio.jpg);
    background-color: #44565b;
    max-height: 768px;
    height: 100%
}

.subtitle2{
    font-size: 65px;
    color: #d1d1d1;
    padding: 0.5em 2em;
    
}

.description3{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 3.5em;

    color: #d1d1d1;
    font-size: 22px;

}

.contact{
    background-image: url(contact.jpg);
    background-color: #576b6b;
    max-height: 768px;
    height: 100%
}
